@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <h3>Mesaj Gönderme Ekranı</h3>
    <hr />
    <label>Adınız Soyadınız</label>
    <input type="text" class="form-control" />
    <br />
    <label>Konu</label>
    <input type="text" class="form-control" />
    <br />
    <label>Mesajınız</label>
    <textarea rows="5" class="form-control"></textarea>
    <br />
    <button class="btn btn-primary">Mesajı Gönder</button>
</div>