<ul class="list-unstyled components mb-5">
    <li class="active"><a href="#"><span class="fa fa-home mr-3"></span> Siteye Git</a></li>
    <li><a href="#"><span class="fa fa-download mr-3 notif"></span> Deneyimlerim</a>
    <li><a href="#"><span class="fa fa-gift mr-3"></span> Hakkımda</a></li>
    <li><a href="#"><span class="fa fa-trophy mr-3"></span> Eğitim Hayatım</a></li>
    <li><a href="#"><span class="fa fa-cog mr-3"></span> İletişim</a></li>
    <li><a href="#"><span class="fa fa-support mr-3"></span> Gelen Mesajlar</a></li>
    <li><a href="#"><span class="fa fa-sign-out mr-3"></span> Hizmetlerim</a></li>
    <li><a href="#"><span class="fa fa-sign-out mr-3"></span> Referanslarım</a></li>
    <li><a href="#"><span class="fa fa-sign-out mr-3"></span> İstatistikler</a></li>
    <li><a href="#"><span class="fa fa-sign-out mr-3"></span> Çıkış Yap</a></li>
</ul>