<section id="stats" class="stats section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                    <i class="bi bi-person-workspace"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.v1" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Yetenek Sayısı</strong></p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                    <i class="bi bi-folder-symlink"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.v2" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Proje Sayısı</strong></p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                    <i class="bi bi-envelope-paper"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.v3" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Gelen Mesaj Sayısı</strong></p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item">
                    <i class="bi bi-bar-chart-line"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.v4" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Rastgele Sayı</strong></p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</section><!-- /Stats Section -->