@model PortfolioCoreDay.Entities.Education
@{
    ViewData["Title"] = "UpdateEducation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h1>Eğitim Bilgisi Güncelleme Girişi</h1>

<form method="post">
    <input type="hidden" asp-for="EducationId" />
    <label>Üniversite</label>
    <input type="text" asp-for="University" class="form-control" style="border:1px solid black">
    <br />
    <label>Bölüm</label>
    <input type="text" asp-for="Department" class="form-control" style="border:1px solid black">
    <br />
    <label>Tarih</label>
    <input type="text" asp-for="EducationDate" class="form-control" style="border:1px solid black">
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" style="border:1px solid black">
    <br />
    <button class="btn btn-primary">Eğitim Bilgisini Güncelle</button>
</form>


