
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>İstatistikler</h2>

<div class="alert alert-primary">Toplam Yetenek Sayısı: @ViewBag.v1</div>
<div class="alert alert-warning">Yeteneklerin Toplam Değeri: @ViewBag.v2</div>
<div class="alert alert-success">Yeteneklerin Ortalama Değeri: @ViewBag.v3</div>
<div class="alert alert-dark">80'den Büyük Yetenek Sayısı: @ViewBag.v4</div>

