@model PortfolioCoreDay.Entities.SocialMedia
@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Yeni Medya Hesabı Ekle</h1>

<form method="post">
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" style="border:1px solid black">
    <br />
    <label>İkon</label>
    <input type="text" asp-for="Icon" class="form-control" style="border:1px solid black">
    <br />
    <label>Sosyal Medya Hesabı Baağlantısı</label>
    <input type="text" asp-for="SocialMediaUrl" class="form-control" style="border:1px solid black">
    <br /
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" style="border:1px solid black">
    <br />
    <button class="btn btn-primary">Sosyal Medya Hesabını Kaydet</button>
</form>
