@model List<SocialMedia>
@{
    ViewData["Title"] = "SocialMediaList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h2>Sosyal Medya Hesabı İşlemleri</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>İkon</th>
        <th>Sosyal Medya Bağlantısı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Icon</td>
            <td>@item.SocialMediaUrl</td>
            <td><a href="/SocialMedia/DeleteSocialMedia/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/SocialMedia/UpdateSocialMedia/@item.Id" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/SocialMedia/CreateSocialMedia/" class="btn btn-info">Yeni Sosyal Medya Hesabı Ekle</a>


