<section id="hero" class="hero section dark-background">

    <img src="/iPortfolio-1.0.0/assets/img/hero-bg.jpg" alt="" data-aos="fade-in" class="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Özge Kuzucu</h2>
        <p>İşlerim: <span class="typed" data-typed-items="Mobil Programlama, Backend Geliştirme, Veri Analizi, Agile Scrum Master">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
    </div>

</section><!-- /Hero Section -->