@model List<Portfolio>
@{
    ViewData["Title"] = "ProjectList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Proje Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PortfolioId</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Category.CategoryName</td>
            <td><a href="/Portfolio/DeleteProject/@item.PortfolioId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Portfolio/UpdateProject/@item.PortfolioId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Portfolio/CreateProject/" class="btn btn-info">Yeni Proje Girişi</a>
