@model List<Feature>
<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>
    @foreach (var item in Model)
    {
        <div class="profile-img">
            <img src="@item.ImageUrl" width="600" height="600" alt="" class="img-fluid rounded-circle">
        </div>

        <a href="index.html" class="logo d-flex align-items-center justify-content-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename">@item.NameSurname</h1>
        </a>
    }


    @await Component.InvokeAsync("_DefaultSocialMediaComponentPartial")

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="#hero" class="active"><i class="bi bi-house-door navicon"></i> Ana Sayfa</a></li>
            <li><a href="#about"><i class="bi bi-person-circle navicon"></i> Hakkımda</a></li>
            <li><a href="#skills"><i class="bi bi-bar-chart-line navicon"></i> Yeteneklerim</a></li>
            <li><a href="#resume"><i class="bi bi-briefcase navicon"></i> Deneyimlerim</a></li>
            <li><a href="#education"><i class="bi bi-mortarboard navicon"></i> Eğitim Hayatım</a></li>
            <li><a href="#portfolio"><i class="bi bi-grid-3x3-gap navicon"></i> Projelerim</a></li>
            <li><a href="#services"><i class="bi bi-gear-wide-connected navicon"></i> Hizmetlerim</a></li>
            <li><a href="#testimonials"><i class="bi bi-chat-left-quote navicon"></i> Referanslarım & Yorumlarım</a></li>
            <li><a href="#contact"><i class="bi bi-envelope-open navicon"></i> Bana Yazın</a></li>
        </ul>

    </nav>

</header>